# Unit 24. 문자열 응용

### 24.1 문자열 조작

- 변경(replace) method

In [ ]:
# 일반적 문자열 vs 정규표현식 - 텍스트 분석
# 문자열 조작 메소드 -> 정규표현식 처리 불가
"""스마트 빅데이터 분석 -> pandas DataFrame
replace - 정규식 사용 불가
str.replace - 정규식 사용 가능 ..."""

In [10]:
# 문자열 메소드는 자기 보존적
s = "Hello, python"
s.replace('python', 'world')

'Hello, world'

In [11]:
s

'Hello, python'

In [12]:
# 리스트의 메소드는 자기 파괴적
a = [10, 20, 30]
a.sort(reverse=True)

In [13]:
a

[30, 20, 10]

In [14]:
s = s.replace('python', 'world')
s

'Hello, world'

In [15]:
# 정규 표현식(Regular expression)
import re                   # regular expression import
s = '안녕하세요? Python 코딩 강좌입니다.ㅋㅋ'
re.sub('[^A-Za-z ]', ' ', s)       # 패턴, 변경될 값, 문자열 ==> 해당 파라미터를 넣어주면 변경시켜줌.
                                # A-Z, a-z와 ' '(스페이스바)가 아닌 것(^)들을 / ' '으로 바꾸기 / s안에 있는 문자열

'       Python            '

In [16]:
# 한글 이외에는 공백으로 변경
re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣]', ' ', s)

'안녕하세요         코딩 강좌입니다 ㅋㅋ'

- 문자열 분리(split)

In [17]:
s = 'apple pear grape pineapple orange'
d = s.split()
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [20]:
s = 'apple,pear,grape,pineapple,orange'
d = s.split(',')
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [23]:
stopwords = ['a', 'the', 'I', 'am', 'is']
s = "I am a graduate student."
d = s.split()
d = [word for word in d if word not in stopwords]
d

['graduate', 'student.']

- 문자열 리스트 연결(join)

In [24]:
' '.join(d)

'graduate student.'

In [25]:
' '.join('apple,pear,grape,pineapple,orange'.split(','))

'apple pear grape pineapple orange'

In [26]:
'apple,pear,grape,pineapple,orange'.replace(',',' ')

'apple pear grape pineapple orange'

In [27]:
s = 'I am a graduate student.'
' '.join(word for word in s.split() if word not in stopwords)

'graduate student.'

In [29]:
d = s.split()
sentence = []
for word in d:
    if word not in stopwords:
        sentence.append(word)
sentence = ' '.join(sentence)
sentence

'graduate student.'

- 대소문자 변환(upper, lower)

In [30]:
'Python'.lower(), 'Python'.upper()

('python', 'PYTHON')

In [ ]:
# 인터넷 페이지 -> 우클릭, 개발자모드하면 보이는 html
"""
' '
'\t'
'\n'
=> 화이트 스페이스
이런 것들이 100개 있어도 화면에 보이는 건 오로지 공백 1개...
"""

- 공백 삭제(strip, lstrip, rstrip)

In [34]:
s = ' Python '
s.lstrip(), s.rstrip(), s.strip()

('Python ', ' Python', 'Python')

- 구둣점 제거

In [36]:
s = ',=Python.!'
s.strip()

',=Python.!'

In [37]:
import string
string.punctuation      #'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [38]:
s.strip(string.punctuation)     # 요상한 부호들 없애기

'Python'

In [ ]:
# StackOverFlow ==> 에러 날 때 항상 참고 ~.~

- 메소드 체이닝(method chaining)

In [40]:
s = ',=Python.!'
s.lower().strip(string.punctuation)

'python'

In [42]:
s = '   123,000원'
int(s.strip().strip('원').replace(',',''))

123000

In [44]:
s = 'USD 1,752.37$'
float(s.strip('USD $').replace(',',''))

1752.37

- 정렬(ljust, rjust, center)

In [45]:
'python'.ljust(10), 'python'.rjust(10), 'python'.center(11)

('python    ', '    python', '   python  ')

- 위치 찾기(find, rfind, index)

In [46]:
'apple pineapple'.find('pp')

1

In [47]:
'apple pineapple'.find('xy')

-1

In [49]:
s = 'A quick brown fox jumps over the lazy dog.'
s.find('fox')

14

In [51]:
s.find('wolf')      # 찾는 단어가 없다면 0보다 작은 값 출력

-1

In [53]:
search = 'wolf'
if s.find(search) >= 0:
    print("문장 안에 찾고자 하는 문자열이 있습니다!")
else:
    print("문장 안에 찾고자 하는 문자열이 없습니다!")

문장 안에 찾고자 하는 문자열이 없습니다!

In [54]:
'fox' in s

True

In [57]:
'apple pineapple'.rindex('pp')

11

In [56]:
'apple pineapple'.index('pp'), 'apple pineapple'.rindex('pp')

(1, 11)

- 문자열 개수 세기

In [58]:
'apple pineapple'.count('pp')

2

### 연습문제
<pre>
1. 디지털 시계(00:00 ~ 23:59)가 있다.
하루동안 3이라는 숫자가 표시되는 시간은 몇 초 인가?

2. 1에서 1000까지 숫자에서 0, 1, ..., 9는 몇 번 나오나?
</pre>

In [60]:
# 1. 디지털 시계
time = 0
for hour in range(24):
    for minute in range(60):
        display = str(hour) + ':' + str(minute)
        # display = f'{hour:02d}:{minute:02d}'
        if '3' in display:      # if display.find('3') >= 0
            time += 60
print(time)

29700

In [61]:
# 2. 숫자 갯수
num_string = ''
for i in range(1, 1001):
    num_string += str(i)

In [62]:
for i in range(10):
    count = num_string.count(str(i))
    print(i, count)

0 192
1 301
2 300
3 300
4 300
5 300
6 300
7 300
8 300
9 300

### 24.2 문자열 서식 지정자와 포맷팅

In [63]:
s = 'python'       # 문자열
f'==={s:10s}==='

'===python    ==='

In [64]:
d = 3       # 정수
f'==={d:4d}:{d:02d}==='

'===   3:03==='

In [66]:
year, month, day, hour, minute = 2022, 3, 29, 11, 36
f'오늘은 {year}-{month:02d}-{day:02d} 이고, 시간은 {hour:02d}:{minute:02d} 입니다.'

'오늘은 2022-03-29 이고, 시간은 11:36 입니다.'

In [69]:
price1, price2 = 35000, 1200000
print(f'가격1: {price1:10,d}원')        # 자체 폭 10만큼 주기 (10 안붙이면 그냥 왼쪽정렬)
print(f'가격2: {price2:10,d}원')

가격1:     35,000원
가격2:  1,200,000원

In [70]:
import math
f'파이값은 {math.pi:8.5f} 입니다.'

'파이값은  3.14159 입니다.'