# Unit 6. 변수

- 표기법

In [10]:
my_height = 174.5   # snake 표기법, 파이썬
myWeight = 72       # camel 표기법, 자바

In [11]:
한글변수 = 5    # 한글변수명은 가능하나, 잘 쓰이지 않음!

### 6.1 변수 만들기

In [12]:
x = 10

In [18]:
x, y, z = 10, 20, 30        # tuple unpacking (파이썬에서 가능)

In [19]:
# 기존 언어에서 두개의 값을 바꾸는 방법(Swapping)
temp = x
x = y       # => temp=x; x=y; y=x;
y = temp
x, y

(20, 10)

In [20]:
# 파이썬
x, y = y, x
x, y

(10, 20)

In [21]:
x = y = z = 10

In [22]:
# 값이 없는 변수
x = None

In [23]:
x

### 6.2 변수 계산

In [24]:
a, b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [25]:
# 변수 a의 값을 20만큼 증가
a = a + 20
a

30

In [26]:
a += 20     # a = a + 20
a

50

In [28]:
# 1에서 100까지 합 구하기
sum = 0
for i in range(1, 101):
    sum += i
print(sum)

5050

In [29]:
# 1에서 10까지 곱 구하기
product = 1
for i in range(1, 11):
    product *= i
print(product)

3628800

In [30]:
# range
range(5)    # 0, 1, 2, 3, 4 => range(0, 5, 1)

range(1,5)  # 1, 2, 3, 4 (1부터 5-1까지)

range(1,10,2)   # 1, 3, 5, 7, 9 (1부터 10-1까지 2씩 증가)

range(1, 10, 2)

### 6.3 입력(input)

In [32]:
x = input()
x, type(x)

('10', str)

In [36]:
number = int(input('정수를 입력하세요>'))   # prompt
number, type(number)

(25, int)

In [37]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input("두 번째 숫자를 입력하세요: ")

print(a+b)      # input은 기본적으로 str 값으로 받기 때문에 숫자를 입력받고 싶다면 형변환 해줘야함.
# a + b => ab   ex) 10 + 20 => 둘 다 str으로 받으므로 1020이 되어버림!

1020

In [38]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = input("두 번째 숫자를 입력하세요: ")

print(a+int(b))

30

In [39]:
10 + 20, '10' + '20'

(30, '1020')

### 6.4 입력값 두 개 받기

In [40]:
# 스트링 split() method
'10 20'.split()     # 공백으로 분리하여 두개의 문자열이 리스트로 변환

['10', '20']

In [41]:
a, b = '10 20'.split()
a, b

('10', '20')

In [43]:
a, b = input("두 개의 숫자를 입력하세요.").split()
a, b

('10', '20')

In [44]:
int(a) + int(b)

30

In [45]:
# map
list(map(int, ['10', '20']))

[10, 20]

In [46]:
a, b = map(int, input('두 개의 숫자를 입력하세요.').split())
a, b, a+b

(10, 20, 30)

In [48]:
# ,(콤마) 로 분리된 숫자 세 개를 입력받아 합계를 구하기
a, b, c = map(int, input(', 로 분리된 숫자 세 개를 입력하세요.').split(","))
a, b, c, a+b+c

(10, 20, 30, 60)

- 숫자 n개를 입력으로 받아 합계와 평균 구하는 방법

In [ ]:
numbers = list(map(int, input))